body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffffe; /* 배경색 추가 */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #f3d2c1; /* 헤더 배경색 추가 */
    color: #fff;
    padding: 20px 0;
    text-align: left;
}

nav {
    margin-top: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 50px;
    font-weight: bold;
    transition: color 0.3s; /* 색상 변화에 대한 전환 효과 추가 */
}

nav a:hover {
    color: #f582ae; /* 마우스를 가져갈 때의 색상 */
}

header h1 {
    margin-left: 10px;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    color: #001858; /* 섹션 헤딩 색상 추가 */
}

.project {
    margin: 30px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.project img {
    max-width: 50%;
    height: 50%;
}

footer {
    background-color: #f3d2c1; /* 푸터 배경색 추가 */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}