body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* 배경색 추가 */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #3498db; /* 헤더 배경색 추가 */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    color: #3498db; /* 섹션 헤딩 색상 추가 */
}

.project {
    margin: 30px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #3498db; /* 푸터 배경색 추가 */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
